# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio files
Debug
*.aps
*.opensdf
*.rc
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
resource.h


